.despre-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.tab-content>.tab-pane {
    height: 400px;
    overflow: auto;
    padding-top: 20px;

}

.nav-tabs {
    border-bottom: 2px solid yellow !important;
}

.nav-tabs a {
    color: #696969;
}

.nav-tabs a:hover {
    border: none;
    color: black;
}

.nav-tabs a:active {
    outline: none;
    border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: black !important;
    font-weight: bold;
    background-color: #fff;
    border-color: yellow yellow #fff !important;
    border: 2px solid yellow !important;
}

.despre-rectangle {
    position: fixed;
    width: 500px;
    height: 300px;
    border: 4px solid rgba(255, 255, 0, 0.507);
    left: 60%;
    top: 50%;
}

.row {
    justify-content: center;
    z-index: 1000;
}

@media only screen and (min-width: 900px) {}

@media only screen and (max-width: 320px) {
    .nav-tabs {
        padding-top: 50px
    }
}