.lucrari-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    height: 150px;   
}

.noActive {
    color: rgb(121, 121, 121);
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.noActive:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.2);
    text-decoration: none;
}

.noActive:focus {

    outline: none;
    border: none;
}
.active {
    color: black!important;
    background-color: transparent;
    border: none;
    font-weight: bold;
}
.active:focus {
    outline: none;
    border: none;
}
.row-lucrari {
   display: block;
   text-align: center;
}

@media only screen and (min-width: 900px) {
    .lucrari-container {
        padding-top: 50px;
        margin-right: 30px;
        justify-content: flex-end;
    }
    .row-lucrari {
        display: flex;
     
    }

}
@media only screen and (min-width: 1920px) {
 .lucrari-container {
     margin-right: 150px;
 }
}