.hamburger {
    width: 25px;
    height: 2px;
    background-color: yellow;
    margin: 6px 0;
}

.navbar-toggler {
    border-color: yellow !important;
    background-color: black !important;
}

.navbar-nav {
    flex-direction: column !important;
    padding: 10px;
    padding-left: 10px !important;
    background-color: rgb(255, 255, 255);
    align-items: flex-start;
}

/* .background-home {
    display: flex;
    justify-content: center;
    background-color: transparent;
} */

.navbar-nav a {
    color: rgb(160, 160, 160);
    padding-top: 20px;
    text-decoration: none !important;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar-nav a:hover {
    color: rgb(143, 143, 143);
    transform: scale(1.1);
}

.location-color {
    color: grey !important;
}

.location-color-home {
    display: none;
}



@media only screen and (min-width: 900px) {
    .navbar-expand-lg {
        flex-direction: column;
        align-items: flex-start;
        height: 100vh;
        width: 140px;
        flex-flow: row wrap !important;
    }

    .navbar-nav {
        padding-top: 0px;
        background-color: rgb(121, 121, 121);
    }

    .navbar-nav {
        background-color: transparent;
        align-items: flex-start;
        border: none;
    }

    .navbar {
        align-items: flex-start !important;
    }

    .location-color {
        color: rgb(249, 252, 66) !important;
        /* text-shadow: 1px 2px 4px black; */
        font-size: 1.1rem;
    }

    .background-home {
        display: flex !important;
        justify-content: center !important;
        background-color: rgba(0, 0, 0, 0.534) !important;
    }
}