.proiecte-container {
    display: flex;
    align-items: center;
    min-height: 70vh;
    justify-content: center;
    
}
.proiecte-row {
    flex-wrap: wrap;
    width: 90%;
    overflow: scroll;
    max-height: 80vh;
    margin-top: 50px;
}
.proiecteImg {
    width: 100%;
    margin-top: 50px;
}
.overlay {
    position: absolute;
    top: 10;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    width: 75%;
    transition: .5s ease;
    background-color: rgba(255, 255, 255);
    margin-left: 14px;
    cursor: pointer;
}
.overlayText-link{
    color: rgb(80, 80, 80);
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;
   
}

.overlayText-link:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.col-projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.col-projects:hover .overlay,
.col-projects:focus .overlay {
    opacity: 1;
    transform: scale(1.05);
    transition: all 1s;
}

.col-projects:hover,
.col-projects:focus {
    transform: scale(1.05);
     transition: all 0.5s;

}

.col-projects .proiecteImg{
   height: 200px;
}

.singleProiect-container {

    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
    max-height: 80%;
}


.proiect-description {
    display: flex;
    flex-direction: column;
       margin-top: 30px;
}
.title-carousel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.back-btn-singleProject {
     color: rgb(160, 160, 160);
     text-decoration: none !important;
     font-weight: bold;
     margin-bottom: 20px;
}
.back-btn-singleProject:hover {
    color: rgb(0, 0, 0);
}

@media only screen and (min-width: 900px) {
    .proiecte-container {
        justify-content: flex-end;
        margin-right: 30px;
    }
   
   
}
@media only screen and (min-width: 1024px) {
    .proiecte-row {
        width: 90%;
        margin-top: 0px;
    }

    .proiect-description {
        margin-left: 30px;
    }
    .singleProiect-container {
        margin-top: 50px;
        margin-right: 5rem;
        height: 500px;
        width: 800px;
    }

}
@media only screen and (min-width: 1366px) {
    .proiecte-row {
        width: 100%;
    }
     .proiect-description {
         margin-left: 50px;
     }
    .singleProiect-container {
        margin-top: 10px;
        margin-right: 5rem;
        height: 500px;
        width: 1000px;
    }


     
}
@media only screen and (min-width: 1660px) {
    .proiecte-row {
        width: 100%;
    }

    .proiect-description {
        margin-left: 50px;
    }

    .singleProiect-container {
        margin-top: 50px;
        margin-right: 5rem;
        height: 100%;
        width: 100%;
    }


}
@media only screen and (min-width: 1920px) {
    .proiecte-row {
        width: 100%;
    }

    .proiecte-container {
        justify-content: flex-end;
        margin-right: 150px;
    }
    .proiect-description {
        margin-left: 100px;
    }
      .singleProiect-container {
           margin-top: 50px;
          margin-right: 15rem;
            height: 100%;
            width: 100%;
      }
      
    
}