.showroom-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.showroom-container .showroom-col {
  margin-top: 20px;
}
.showroom-col:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 1s;
}
.showroom-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
}
.showroom-btn:focus {
    outline: 0;
    border: none;
}
.showroom-btn:hover {
    transform: scale(1.1);
}



@media only screen and (min-width: 1024px) {
    .showroom-container {
      margin-right: 10px;
      width: 80%;
    }

}

@media only screen and (min-width: 1366px) {
        .showroom-container {
            margin-right: 100px;
            width: 90%;
        }


}
@media only screen and (min-width: 1920px) {
    .showroom-container {
        margin-right: auto;
        width: 100%;
    }
}
